<div *ngIf='profile' class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h6 class="text-center"> {{profile.name}}</h6>
          <img id="avatar" src="{{ profile.avatar_url }}" class="img-responsive mx-auto d-block" alt="Profile Image">
        </div>
        <div *ngIf="profile.company" class="card-body">
          <h4 class="mr-2">
            <span class="badge badge-secondary mr-2">{{profile.followers}} Followers</span>
            <span class="badge badge-secondary mr-2">Following {{profile.following}}</span>
            <span class="badge badge-info">{{profile.public_repos}} Public Repos</span>
          </h4>
          <p *ngIf="profile.bio">{{profile.bio}}</p>
          <p class="list-group-item" *ngIf="profile.email"><a href="emailto:{{profile.email}}">{{profile.email}}</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngFor="let repo of repos" class="card">
        <div class="card-header">
          <div class="div">
            <h6>Repo Name: <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h6>
          </div>
          <div class="div">
            <h6>Repo Link: <a href="{{repo.html_url}}" target="_blank">{{repo.html_url}}</a></h6>
          </div>
        </div>
        <div class="card-body">
          <a href="{{repo.description}}"></a>
        </div>
      </div>
    </div>
  </div>
</div>
