<div class="container">
  <div class="jumbotron">
    <h4 class="text-center">Github API</h4>
    <app-form (searchProfile)='searchProfile($event)'></app-form>
    <div class="panel panel-primary">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <app-users [profile]='profile' [repos]='repos'></app-users>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="footer">
      <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://github.com/JustoKochung" target="_blank"> JustoOchung.com</a>
        </div>
      </footer>
    </div>
  </div>
</div>
